02_JAVA_EE/WEBSERVICES/JAX-WS/AxisWS_WebApp/WebContent/WEB-INF/wsdl/RPCHiService_schema1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://hi.test.com/" version="1.0">

  <xs:complexType name="empTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="department" type="xs:string"/>
      <xs:element minOccurs="0" name="ID" type="xs:long"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
