02_JAVA_EE/WEBSERVICES/AXIS_WS/AXIS_WS_PRACTICE/webapp/WEB-INF/wsdl/RPCEmpService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is 
	JAX-WS RI 2.1.3-hudson-390-. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://emp.ws.services.farbig.com/"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RPCEmpService"
	targetNamespace="http://emp.ws.services.farbig.com/">
	<types>
		<xsd:schema>
			<xsd:import namespace="http://emp.ws.services.farbig.com/"
				schemaLocation="RPCEmpService_schema1.xsd" />
		</xsd:schema>
	</types>
	<message name="sayHello">
		<part name="arg0" type="xsd:string" />
	</message>
	<message name="sayHelloResponse">
		<part name="return" type="xsd:string" />
	</message>
	<message name="addEmployee">
		<part name="arg0" type="tns:empTO" />
	</message>
	<message name="addEmployeeResponse" />
	<message name="getEmployees" />
	<message name="getEmployeesResponse">
		<part name="return" type="tns:arrayList" />
	</message>
	<portType name="RPCEmpImpl">
		<operation name="sayHello">
			<input message="tns:sayHello" />
			<output message="tns:sayHelloResponse" />
		</operation>
		<operation name="addEmployee">
			<input message="tns:addEmployee" />
			<output message="tns:addEmployeeResponse" />
		</operation>
		<operation name="getEmployees">
			<input message="tns:getEmployees" />
			<output message="tns:getEmployeesResponse" />
		</operation>
	</portType>
	<binding name="RPCEmpServicesBinding" type="tns:RPCEmpImpl">
		<soap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="sayHello">
			<soap:operation soapAction="" />
			<input>
				<soap:body namespace="http://emp.ws.services.farbig.com/"
					use="literal" />
			</input>
			<output>
				<soap:body namespace="http://emp.ws.services.farbig.com/"
					use="literal" />
			</output>
		</operation>
		<operation name="addEmployee">
			<soap:operation soapAction="" />
			<input>
				<soap:body namespace="http://emp.ws.services.farbig.com/"
					use="literal" />
			</input>
			<output>
				<soap:body namespace="http://emp.ws.services.farbig.com/"
					use="literal" />
			</output>
		</operation>
		<operation name="getEmployees">
			<soap:operation soapAction="" />
			<input>
				<soap:body namespace="http://emp.ws.services.farbig.com/"
					use="literal" />
			</input>
			<output>
				<soap:body namespace="http://emp.ws.services.farbig.com/"
					use="literal" />
			</output>
		</operation>
	</binding>
	<service name="RPCEmpService">
		<port binding="tns:RPCEmpServicesBinding" name="RPCEmpServices">
			<soap:address
				location="http://localhost:8080/MyWS/RPCEmpServices" />
		</port>
	</service>
</definitions>
