10-REFERENCE/SOAP/WS/WebContent/wsdl/HiBSImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://test.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://test.com" xmlns:intf="http://test.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://test.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="sayHi">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sayHiResponse">
    <complexType>
     <sequence>
      <element name="sayHiReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="sayHiResponse">

      <wsdl:part element="impl:sayHiResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sayHiRequest">

      <wsdl:part element="impl:sayHi" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="HiBSImpl">

      <wsdl:operation name="sayHi">

         <wsdl:input message="impl:sayHiRequest" name="sayHiRequest">

       </wsdl:input>

         <wsdl:output message="impl:sayHiResponse" name="sayHiResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="HiBSImplSoapBinding" type="impl:HiBSImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="sayHi">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sayHiRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sayHiResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="HiBSImplService">

      <wsdl:port binding="impl:HiBSImplSoapBinding" name="HiBSImpl">

         <wsdlsoap:address location="http://localhost:7001/WS/services/HiBSImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
