10-REFERENCE/SOAP/TESTWS/WebContent/wsdl/MyRESTService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://rs.farbig.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://rs.farbig.com" xmlns:intf="http://rs.farbig.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://rs.farbig.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="resourceMethodPUT">
    <complexType>
     <sequence>
      <element name="content" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="resourceMethodPUTResponse">
    <complexType/>
   </element>
   <element name="resourceMethodGET">
    <complexType/>
   </element>
   <element name="resourceMethodGETResponse">
    <complexType>
     <sequence>
      <element name="resourceMethodGETReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="resourceMethodPUTRequest">

      <wsdl:part element="impl:resourceMethodPUT" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="resourceMethodGETResponse">

      <wsdl:part element="impl:resourceMethodGETResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="resourceMethodGETRequest">

      <wsdl:part element="impl:resourceMethodGET" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="resourceMethodPUTResponse">

      <wsdl:part element="impl:resourceMethodPUTResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="MyRESTService">

      <wsdl:operation name="resourceMethodPUT">

         <wsdl:input message="impl:resourceMethodPUTRequest" name="resourceMethodPUTRequest">

       </wsdl:input>

         <wsdl:output message="impl:resourceMethodPUTResponse" name="resourceMethodPUTResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="resourceMethodGET">

         <wsdl:input message="impl:resourceMethodGETRequest" name="resourceMethodGETRequest">

       </wsdl:input>

         <wsdl:output message="impl:resourceMethodGETResponse" name="resourceMethodGETResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="MyRESTServiceSoapBinding" type="impl:MyRESTService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="resourceMethodPUT">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="resourceMethodPUTRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="resourceMethodPUTResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="resourceMethodGET">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="resourceMethodGETRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="resourceMethodGETResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="MyRESTServiceService">

      <wsdl:port binding="impl:MyRESTServiceSoapBinding" name="MyRESTService">

         <wsdlsoap:address location="http://localhost:7001/TESTWS/services/MyRESTService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
