10-REFERENCE/SAMPLES/webservices/JAXRPC/simplebean/SRC/HelloWorld.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="HelloWorld" targetNamespace="http://hello.org/wsdl/HelloWorld" xmlns:tns="http://hello.org/wsdl/HelloWorld" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns2="http://hello.org/types/HelloWorld" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <schema targetNamespace="http://hello.org/types/HelloWorld" xmlns:tns="http://hello.org/types/HelloWorld" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <complexType name="ArrayOfstring">
        <complexContent>
          <restriction base="soap-enc:Array">
            <attribute ref="soap-enc:arrayType" wsdl:arrayType="string[]"/></restriction></complexContent></complexType>
      <complexType name="SimpleAccountBean">
        <sequence>
          <element name="balance" type="decimal"/>
          <element name="customerName" type="string"/></sequence></complexType></schema></types>
  <message name="HelloIF_reverse">
    <part name="arrayOfString_1" type="ns2:ArrayOfstring"/></message>
  <message name="HelloIF_reverseResponse">
    <part name="result" type="ns2:ArrayOfstring"/></message>
  <message name="HelloIF_sayHello">
    <part name="String_1" type="xsd:string"/></message>
  <message name="HelloIF_sayHelloResponse">
    <part name="result" type="xsd:string"/></message>
  <message name="HelloIF_calculateInterest">
    <part name="SimpleAccountBean_1" type="ns2:SimpleAccountBean"/></message>
  <message name="HelloIF_calculateInterestResponse">
    <part name="result" type="xsd:decimal"/></message>
  <portType name="HelloIF">
    <operation name="reverse" parameterOrder="arrayOfString_1">
      <input message="tns:HelloIF_reverse"/>
      <output message="tns:HelloIF_reverseResponse"/></operation>
    <operation name="sayHello" parameterOrder="String_1">
      <input message="tns:HelloIF_sayHello"/>
      <output message="tns:HelloIF_sayHelloResponse"/></operation>
    <operation name="calculateInterest" parameterOrder="SimpleAccountBean_1">
      <input message="tns:HelloIF_calculateInterest"/>
      <output message="tns:HelloIF_calculateInterestResponse"/></operation></portType>
  <binding name="HelloIFBinding" type="tns:HelloIF">
    <operation name="reverse">
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://hello.org/wsdl/HelloWorld"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://hello.org/wsdl/HelloWorld"/></output>
      <soap:operation soapAction=""/></operation>
    <operation name="sayHello">
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://hello.org/wsdl/HelloWorld"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://hello.org/wsdl/HelloWorld"/></output>
      <soap:operation soapAction=""/></operation>
    <operation name="calculateInterest">
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://hello.org/wsdl/HelloWorld"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://hello.org/wsdl/HelloWorld"/></output>
      <soap:operation soapAction=""/></operation>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/></binding>
  <service name="HelloWorld">
    <port name="HelloIFPort" binding="tns:HelloIFBinding">
      <soap:address location="http://localhost:1024/jaxrpc-simplebean/simplebean"/></port></service></definitions>
